target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Personal
#asciidoc/*
#htmldoc/**
swagger-ui-3.6.0/swagger/*
!swagger-ui-3.6.0/swagger/swagger-2.0-example.yaml